* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #f5f9f8;
    width: 100%; 
}
.navcontainer {   
    background-color: #f5f9f8;
    width: 100%;
    height: 60px;
    position: fixed;
}
.topbar {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlinks li{
    list-style-type: none;
}
.navlinks li a {
    text-decoration: none;
    color: gray;  
    font-family: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
}
.navlink1{
    color: #000000;
}
.navlinks li:hover a{
    color: black;
}
.navlinks .navlink1 a{
    color: black;
}
.brand {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px; 
}
.brand img {
    height: 75%;
 }
.navlinks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    height: 100%;

}        
.checkbutton {
    color: #1c1818;
    font-size: 18px;
    width: 33px;
    height: 33px;
    margin-right: 30px;
    padding: 3px 6px 1px;
    border: 2px solid rgb(75, 34, 34);
    border-radius: 5px;
    cursor: pointer;
    display: none;
}        
#check {
    display: none;
}

.navcontainer-2{
    background-attachment: scroll;  
    width: 100%;
    height: auto;
    min-height: 45rem;
    padding: 12rem 0;
    background-image: url(image/home-bg.jpg);    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.navcontainer-2 .bgimg{
    width: 45%;
    text-align: center;
}
.bgimg h1{   
    width: 100%;
    margin-left: 1em;
    margin-top: 3.2rem;
    font-size: 2.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: auto;
    color: #212529;
    font-weight: 500;
    line-height: 1.2;
}
.bgimg p{    
    width: 96%;
    font-size: 1.25rem;
    line-height: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 13px;
    font-weight: 300;
    margin-left: 3rem;
}
.bgimg button{
    bottom: 2rem;   
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
    margin-top: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    font-size: 1.25rem;
    width: 123px;
    height: 42px;
}

.bgimg button:hover{
    background-color: #5aa9ff;
    border-color: #61acfd;
    border-radius: 12px;
}
main{
    width: 100%;
}
.about{
    display: flex;
    width: 80%;    
    margin-left: 140px;

    border: 1px solid #dee2e6;
}
.box{
    width: 100%;
    border: 0.3px solid #dee2e6;
    flex: 1;
    padding: 20px;
}
.about img{
    width: 100%;
}
.about .box-2{  
    width: 100%;
    display: flex;
}
.rightside{
    padding: 2% 10%;
    height: 432px;
    background-color: #17a2b8;
    border-radius: 8px;
}
.rightside h1 {
    width: 100%;
    margin-left: 3px;
    margin-top: 1.9rem;
    font-size: 2.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: auto;
    color: #212529;
    font-weight: 500;
    line-height: 1.2;
}
.rightside p{
    
    font-size: 1.25rem;
    line-height: 2rem;
    line-height: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 11px;
    font-weight: 300;
    margin-left: 16px;
}
.rightside button{
    bottom: 2rem;   
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
    margin-top: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    font-size: 1.25rem;
    width: 123px;
    height: 42px;
    border-radius: 12px;
}
.rightside button:hover{
    background-color: #2580e2;
    border-color: #0a75e7;
    border-radius: 12px;
}

.facility{
    width: 80%;
    margin-left: 140px;
    margin-top: 0.2px;
    border: 2px solid #dee2e6;
}
.our_facility img{
    margin-left: 15px;
}
.our_facility h3{
    width: 10rem;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.menu-varities{    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    border:0.01px solid #dee2e6;
    height: auto;
}
.menu-varities img{
    margin-left: 12px;
    margin-bottom: 3px;
}
.menu-varities h3{
    margin-left: 10px;
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    background-color: #fff;
}
.menu-varities p{
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    background-color: #fff;
}
.menubox{
    width: 100%;
}
.menu-varities .b1,
.b2,
.b3,
.b4
{ 
    padding: 5px;
    height: 200px;
    width: 100%;
    border: 0.1px solid #dee2e6;
}
.menu{
    width: 80%;
    height: 100%;
    margin-left: 140px;
    margin-top: 0.1px;
    border: 2px solid #dee2e6;
}
.popular_menu img{
    margin-left: 15px;
}
.popular_menu h3{
    width: 100%;
    font-size: 1.75rem;
    margin-left: 20px;
    font-weight: 500;
    line-height: 1.2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.coffee_varities{    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;  
}
.coffee_varities .love_coffee{
    width: 100%;
    flex: 6;
    text-align: center;
    padding: 10px;
    border: 0.1px solid #dee2e6; 
}
.coffee_varities .love_coffee img{
    width: 100%;
}
.coffee_varities .love_coffee h4{
    width:100% ;  
    font-size: 1.5rem; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.gallery{
    width: 80%;
    height: 100%;
    margin-left: 140px;
    border: 2px solid #dee2e6;
}
.ourgallery img{
    margin-left: 15px;
}
.ourgallery h3{
    width: 10rem;
    font-size: 1.75rem;
    margin-left: 15px;
    font-weight: 500;
    line-height: 1.2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.ourgallery_varities{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}
.ourgallery_varities .gallerybox{
    display:flex; 
    padding: 5px;
    border:0.5px solid #dee2e6;
    width: 100%;
    flex: 6;
    text-align: center;
}
.ourgallery_varities .b11,
.b12,
.b13,
.b14,
.b15,
.b16{
    width: 100%;
    height: 300px;
}
.ourgallery_varities img{
    width: 100%;
}
.team{
    width: 80%;
    height: 100%;
    margin-left: 140px;
    border: 2px solid #dee2e6;
}
.our_team img{
    margin-left: 15px;
}
.our_team h3{
    width: 10rem;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.members{    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;  
}
.members .john{
    width: 100%;
    flex: 6;
    text-align: center;
    border: 0.5px solid #dee2e6; 
}
.members .john img{
    width: 100%;
}
.members .john h4{
    width:50% ;  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 500; 
    align-items: start;
}
footer{
    width: 100%;
}
.contact_detail{
    width: 80%;
    margin-left: 140px;
    border: 2px solid #dee2e6;
}
.our_contact img{
    margin-left: 15px;
}
.our_contact h3{
    width: 10rem;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.contact{
    display: flex;
    width: 80%;
    margin-left: 140px;
    border: 2px solid #dee2e6;
}
.contact .box1{
    border: 2px solid rgb(245, 242, 242);
    flex: 1;
    padding: 20px;     
}
.contact img{
    width: 100%;
}

form{
    width: 100%;
    border: 2px solid black;
    text-align: center;
    height: 333px;
   
}
.hb1{
    margin: 1rem;
}
.inputbox input::placeholder{
   text-align: center;
   font-size: 1.6rem;
}
.ip1{
    width: 80%;
    height: 55px;
    margin-left: 2rem;
    font-size: 1.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid black;
}
form button{
    background-color: #cc9966;
    border: #cc9966;
    color: #ffffff;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    width: 123px;
    height: 42px;
}
.contact_us{  
    width: 80%; 
    height: 170px;
    margin-left: 140px; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;   
}
.contact_us label{
    padding: 25px;
    border-radius: 40px;
    background-color: black;
    margin-top: 2px;
    margin-left: 15px;
}
.contact_us .b23,
.b24,
.b25,
.b26{
    height: 170px;
    padding: 30px  0px;
    border:2px solid #dee2e6;
}
.menubox1 h4{
    margin-top: 20px;
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}
.menubox1 h5{
    margin-top: 5px;
    font-size: 1.25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}
.copyright{
    width: 80%;
    border: 3px solid #dee2e6;
    margin-left: 8.8rem;
    height: 50px;
}
.copyright hr{
    background-color: #212529;
    padding: 1px 0px;
    margin-top: 5px;
    margin-left: 5px;
    width: 99%;
}
.copyright h6{
    font-size: 1rem;
    margin-top: 0.6rem;
    text-align: center;
}
.copyright b{
    color: #dc3545;
}





@media screen and (max-width:992px) {
    .brand {
        margin-left: 20px;
    }
    .navlinks {
        background-color: #ffffff;
        position: absolute;
        top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 270px;
        display: none;
    }
    .navlinks li {
        background-color: #ffffff;
        width: 80%;
        height: 233px;       
        align-items: center;
        position: relative;
        justify-content: flex-start;
        left: 12px;
    }        
    .navlinks li a {
        color: gray;
        font-size: 18px;
    }        
    .navlink1,
    .navlink2,
    .navlink3,
    .navlink4,
    .navlink5,
    .navlink6 {
         border-bottom: 1px ;
    }
    .navlink1 a{
        color: #000000;
    }        
    .navlinks li:hover a{
         color: #000000;
         font-size: 18px;
    }
    .checkbutton {
        display: block;
    }      
     #check:checked~.navlinks {
        display: flex;
    }
    .navcontainer-2 {
        width: 100%;
        position:static;        
        align-items: center;
        justify-content: center;
        background-image: url(image/home-bg.jpg);            
    }
    .navcontainer-2 h1{
        height: 100%;
        margin-left: 2px;
    }
    .navcontainer-2 .bgimg p{
       width: 100%;
       height: 100%;        
    }
    .navcontainer-2 .bgimg button{
        height: 100%;
        margin-left: 2px;       
    }
    .about{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-top: 0px;
        margin-left: 0px;
    }  
    .about img{
        width: 100%;
        margin-top: 20px;     
    } 
    .rightside h1 {
        width: 100%;
        height: auto;
    }
    .facility{ 
        width: 100%;
        height: auto;   
        margin-left: 0px;
    } 
    .our_facility img{
        width: 80%;
        margin-left: 22px;
        height: 100px;
    }
    .our-facility h3{
        width: 100%;
        height: 100%;
        margin-left: 10px;
    }
    .menu-varities{
        flex-direction: column;
        display: flex;
        width: 100%;
        height: auto;
        margin-top: 0px;
        margin-left: 0px;
    }
    .menubox{
        width: 100%;
        height: auto;
    }
    .menu{
        width: 100%;
        height: auto;
        
        margin-left: 0px;
    }
    .popular_menu h3{
        width: 100%;
        height: 100%;
        margin-left: 0px;
    }
    .popular_menu img{   
        width: 80%;
    }
    .coffee_varities{
        flex-direction: column;
        display: block;
        width: 100%;
        height: auto;
        margin-top: 20px;
        margin-left: 0px;
    }
    .gallery{
        width: 100%;
        height: auto;
        margin-left: 0px;
    }
    .gallery h2{
        width: 100%;
        height: 100%;
        margin-left: 0px;
    }
    .ourgallery img{
        width: 80%;
    }
    .ourgallery_varities{
        flex-direction: column;
        display:block;
        width: 100%; 
        margin-left: 0px;
    }
    .gallerybox{
        width: 100%;
        height: auto; 
    }
    .gallerybox .b11,
    .b12,
    .b13,
    .b14,
    .b15,
    .b16{
        width: 100px;
        height: 300px;
        
    }
    .team{
        width: 100%;
        height: auto;
        margin-left: 0px;
    }
    .our_team h2{
        width: 100%;
        height: 100%;
        margin-left: 0px;
    }
    .our_team img{   
        width: 80%;
    }
    .members{
        flex-direction: column;
        display: block;
        width: 100%;
        height: auto;
      
        margin-left: 0px;
    }
    .contact_detail{
        width: 100%;
        height: auto;
        margin-left: 0px;
        text-align: center;
    }
    .contact_detail h2 {   
        height: 100%;
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
    }
    .contact_detail img{
        width: 80%;
        height: 100%;
        margin-top: 0px;
        margin-left: 0px;      
    }
    .box1{
        flex-direction: column;
        display: block;
        width: 100%;
        height: auto;
        margin-top: 20px;
        margin-left: 0px;
    }
    .contact{
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-left: 0px;
        margin-top: 0px;
    }   
    .contact img{
        width: 100%;
        height: 100%;
        margin-left: 0px;     
    }

    
    form input {
        width: 100%;
        height: auto;
        margin-left: 0px;
    }
    .cbox-2 h1{
        width: 100%;
        margin-left: 0px;
        height: 100%;
    }
    .inputbox {
        width: 90%;
        position: relative;
        bottom: 304px;
    }
    .contact_us{
        flex-direction: column;
        display: flex;
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
    }
    .menubox1{
        width: 100%;
        height: auto;
    }
    .copyright{
        width: 100%;
        height: 47px;
        margin-left: 0%;
        margin-top: 37em;
    }
    .copyright h6{
        margin-bottom: 8px;
    }
    .copyright hr{
        width: 90%;
        margin-left: 30px;
    }


 
}
@media screen and (min-width:600px) {
    .box{
        flex: 1;
    }
    .menubox{
        flex: 1;
    } 
    .love_coffee{
        flex: 1;
    }
    .gallerybox{
        flex: 1;
    }
    .box1{
        flex: 1;
}
}